.loginFormContainer {
    width: 75%;
    margin-left: 12.5%;
    text-align: center;
    min-height: 75vh;
    margin-top: 12.5vh;
  }
  .loginFormTitle {
    margin-bottom: 35px;
    font-size: 30px;
    color: black;
    border-color: #023047;
    border-style:solid;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
  }
  .loginFormInput {
    width: 75%;
    height: 32.5px;
    text-align: left;
    color: #023047;
    background-color: #ffb703;
    border-color: #023047;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    padding-left: 9px;
    padding-right: 9px;
    padding: auto;
    margin-bottom: 32.5px;
    text-align: center;
  }
  .loginFormButton {
    background-color: #ffb703;
    height: 32.5px;
    border-style: none;
    width: 47.5%;
    font-weight: bold;
    font-size: 18px;
    border-end-start-radius: 10px;
    border-start-end-radius: 10px;
  }