body {
  background-color: #8ecae6;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}